<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>
<!-- Preloader -->
<div id="preloader">
    <i class="circle-preloader"></i>
    <img src="/images/core-img/salad.png" alt="">
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">

    <div th:replace="~{fragments/header}"></div>

    <!-- Navbar Area -->
    <div class="delicious-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <nav th:replace="~{fragments/navigation}"></nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Contact Area Start ##### -->

<div class="contact-area mx-auto col-md-7 d-flex">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="shadow p-3 mb-5 bg-body rounded contact-form-area">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading">
                                <h3>Login</h3>
                            </div>
                        </div>
                        <form th:method="POST"
                              th:action="@{/auth/login}"
                              class="main-form mx-auto col-md-10 d-flex flex-column justify-content-center">

                            <div class="form-group">
                                <label for="username"
                                       class="font-weight-bold">
                                    Email
                                </label>
                                <input th:classappend="${bad_credentials !=  null? 'alert-danger' : ''}"
                                       value="username"
                                       id="username"
                                       name="username"
                                       th:value="${username}"
                                       type="email"
                                       max="50"
                                       class="form-control"
                                       placeholder="Email"
                                       required/>
                            </div>

                            <div class="form-group">
                                <label for="password" class="font-weight-bold">Password</label>
                                <input th:classappend="${bad_credentials !=  null? 'alert-danger' : ''}" id="password"
                                       name="password" type="password" min="5"
                                       max="20" class="form-control"
                                       placeholder="Password"
                                       required/>

                            </div>
                            <div class="form-group">
                            <p><input type='checkbox' name='remember-me'/> Remember me on this computer.</p>
                            </div>
                            <p th:if="${bad_credentials}"
                               class="errors alert alert-danger">
                                Invalid username or password.
                            </p>
                            <p th:if="${not_active}"
                               class="errors alert alert-danger">
                                User is not activated.
                            </p>


                            <div class="row">
                                <div class="col-12">
                                    <div class="section-heading">
                                        <input type="submit" class="btn delicious-btn mt-30" value="Login"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- Footer Area -->
    <footer th:replace="~{fragments/footer}"></footer>

    <!-- All Javascript Files -->
    <div th:replace="~{fragments/scripts}"></div>
</body>

</html>