<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>

<!-- Top Header Area -->
<div th:fragment="header" class="top-header-area">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-between">
            <!-- Breaking News -->
            <div class="col-12 col-sm-6">
                <div class="breaking-news">
                    <div id="breakingNewsTicker" class="ticker">
                        <ul>
                            <th:block sec:authorize="!isAuthenticated()">
                                <li><a href="#">Hello Delicious!</a></li>
                            </th:block>

                            <th:block  sec:authorize="isAuthenticated()">
                                <li><a href="#" th:text =" 'Hello, ' + ${ #authentication.getPrincipal().getUsername()} + '!'" >User name!</a></li>
                            </th:block>

                            <li><a href="#">Cooking book makes dreams come true.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>