<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>

<!-- Navbar Area -->
<!-- Menu -->
<nav th:fragment="navigation" class="classy-navbar justify-content-between" id="deliciousNav">

    <!-- Logo -->
    <a class="nav-brand" th:href="@{/}"><img th:src="@{/images/core-img/logo.png}" alt=""></a>

    <!-- Navbar Toggler -->
    <div class="classy-navbar-toggler">
        <span class="navbarToggler"><span></span><span></span><span></span></span>
    </div>

    <!-- Menu -->
    <div class="classy-menu">

        <!-- close btn -->
        <div class="classycloseIcon">
            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
        </div>

        <!-- Nav Start -->
        <div class="classynav">
            <ul>
                <li>
                    <a th:href="@{/}">Home</a></li>
                <th:block sec:authorize="isAuthenticated()">
                    <li><a th:href="@{/receipes/view_all}">Receipes</a>
                        <ul class="dropdown">
                            <li><a th:href="@{/receipes/add}">Add</a></li>
                            <li><a th:href="@{/receipes/view_all}">View all</a></li>
                            <li><a th:href="@{/receipes/view_user_recipes}">My receipts</a></li>
                        </ul>
                    </li>
                    <th:block sec:authorize="hasRole('ROLE_MODERATOR')">
                        <li><a th:href="@{/product/view_all}">Products</a>
                            <ul class="dropdown">
                                <li><a th:href="@{/product/add}">Add</a></li>
                                <li><a th:href="@{/product/view_all}">View all</a></li>
                            </ul>
                        </li>
                    </th:block>
                    <th:block sec:authorize="!hasRole('ROLE_MODERATOR')">
                        <li><a th:href="@{/product/view_all}">Products</a></li>
                    </th:block>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <li><a th:href="@{/user/profile}">Profile</a></li>
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <li><a th:href="@{/admin/settings}">Admin</a></li>
                    </th:block>
                </th:block>
                <th:block sec:authorize="!isAuthenticated()">
                    <li><a th:href="@{/receipes/view_all}">Receipes</a></li>

                    <li><a th:href="@{/auth/register}">Register</a></li>

                    <li><a th:href="@{/auth/login}">Login</a></li>

                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <li><a onclick="submit_logout()">
                        <form id="logout_btn" th:action="@{/auth/logout}" method="POST">Logout</form>
                    </a></li>
                </th:block>
            </ul>

        </div>
        <!-- Nav End -->
    </div>
</nav>
</body>
</html>